name: Build

on:
  schedule:
    - cron: '0 2 * * *'
  repository_dispatch:
    types:
      - rebuild

env:
  CI_GPG_KEYID: ${{ secrets.CI_GPG_KEYID }}
  CI_GPG_KEY: ${{ secrets.CI_GPG_KEY }}
  CI_GPG_PASSPHRASE: ${{ secrets.CI_GPG_PASSPHRASE }}

jobs:
  build-x86_64:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    container:
      image: fedora:latest
      options: --privileged
    strategy:
      matrix:
        recipe:
          - live.yaml
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          set -x
          dnf install -y dnf-plugins-core
          dnf copr enable -y plfiorini/liri-tools
          dnf install -y ostree-image-creator image-manager gnupg2 pinentry selinux-policy selinux-policy-targeted policycoreutils
      - name: Import GPG key
        run: |
          .github/workflows/scripts/setup-gpg
          gpg --list-keys ${CI_GPG_KEYID}
      - name: Build
        run: |
          # Workspace in the current directory because it's a EXT4 file system
          # that supports the `chattr -i` command
          oic build ${{ matrix.recipe }} -o $(pwd) -w workspace/
          ls -al *.iso *-CHECKSUM
          test -f *.iso
          test -f *-CHECKSUM
      - name: Sign checksum file
        run: |
          gpg --clearsign *-CHECKSUM
          mv *-CHECKSUM.asc *-CHECKSUM
      - name: Upload
        env:
            IMAGE_MANAGER_TOKEN: ${{ secrets.IMAGE_MANAGER_TOKEN }}
        run: |
          set -x
          image-manager client \
            --address=${{ secrets.IMAGE_MANAGER_URL }} \
            --channel=unstable \
            --iso=$(ls *.iso) \
            --checksum=$(ls *-CHECKSUM)
